body{
    font-family:Roboto;
}

#spells{
    border-collapse:collapse;
}

#spells td{
    padding:4px;
}

#spells .first td{
    padding-top:8px;
    border-top:1px solid #ccc;
}

#lvl{
    width:50px;
    font-size:20px;
    text-align: end;
}